@import "mixins";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mandali&display=swap");

body {
  @include sitefont;
}

.tfont {
  font-family: "Mandali", sans-serif;
}

h1,
h2 {
  font-family: "Oswald", sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fbold {
  font-weight: 700;
}

.fixed-top {
  @include shadowbot;
}

.fwhite {
  color: $white;
}

header {
  background: $white;
  .navbar-brand {
    img {
      width: 220px;
    }
  }
  .navbar {
    padding-top: 0;
    padding-bottom: 0;

    .nav-link {
      color: $black !important;
      @extend .fbold;
    }
    .navBtn {
      background: $orange;
      color: $black;

      @include mob {
        padding-left: 15px;
      }
    }
  }
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  color: $orange;
  text-transform: uppercase;
}

h2 {
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  text-transform: uppercase;
}

.orangeBtn {
  font-size: 18px;
  padding: 8px 50px;
  line-height: 1.8em;
  font-weight: normal;
  border: 2px solid $orange;
  border-radius: 25px;
  color: $orange;
  text-transform: uppercase;
  @include transition;

  &:hover {
    background: $orange;
    color: $black;
  }
}

.homeSlider {
  background: url(../img/banner.jpg) no-repeat 0 0;
  background-size: cover;
  height: 100vh;

  @include mob {
    height: auto;
    padding-bottom: 30px;
  }
  .swiper-slide {
    height: 100vh;
    background-size: cover;
    border-right: 10px solid $orange;

    @include mob {
      border: none;
      width: 100%;
    }
  }
  article {
    width: 75%;
    text-align: center;
    margin: 0 auto;

    @include mob {
      width: 90%;
      padding-top: 25px;
    }
    p {
      font-size: $fsize + 3;
      color: $white;
      font-weight: 300;
      line-height: 30px;
      padding-bottom: 15px;

      @include mob {
        font-size: $fsize;
      }
    }
  }
  .swiper-pagination-bullet {
    opacity: 1;
    background: $orange;
  }
  .swiper-pagination-bullet-active {
    background: $black;
  }

  .swiper-slide {
    background-position: center center;
  }
}

.vspSection {
  padding: 100px 0;

  @include mob {
    padding: 25px 0;
  }

  p {
    text-align: justify;
  }

  .vspHeader {
    background: $orange;
    padding: 50px 0;
    text-align: center;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 10px solid $white;
      @include objectfitcover;
      margin-bottom: 20px;
    }
  }
}

.careerSection {
  background: url(../img/az-subtle.png) repeat 0 0;
  padding: 100px 0;

  @include mob {
    padding: 25px 0;
  }
  .careerHeading {
    border-left: 10px solid $orange;
    padding-left: 25px;
  }
  .careerArticle {
    padding: 10px 0;
    p {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.listItems {
  li {
    padding-bottom: 10px;
    &:before {
      content: "\f005";
      font-family: "icomoon" !important;
      font-size: $fsize;
      color: $orange;
      margin-right: 10px;
    }
  }
}

.booksVelchala {
  padding: 100px 0;
  background: url(../img/banner.jpg) no-repeat 0 0;

  @include mob {
    padding: 25px 0;
  }
  .booksSwiper {
    margin-top: 50px;

    .swiper-slide {
      img {
        height: 330px;
        @include objectfitcover;
        width: 100%;
      }

      @include mob {
        text-align: center;
      }
    }

    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
      color: $orange;
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
      color: $orange;
    }
  }
}

footer {
  background: $orange;
  padding: 35px 0;
  text-align: center;

  p {
    color: $black;
    font-size: $fsize - 2;
    padding-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .socialnav {
    .nav-link {
      width: 40px;
      height: 40px;
      background: $white;
      margin: 0 5px;
      border-radius: 50%;
      line-height: 28px;
      padding: 6px;

      .icomoon {
        color: $black;
      }

      &:hover {
        background: $black;
        color: $white;

        .icomoon {
          color: $orange;
        }
      }
    }
  }
}

.teluguSite {
  p {
    font-size: $fsize + 5 !important;
  }
  .listItems {
    li {
      font-size: $fsize + 5 !important;
    }
  }
  .careerArticle {
    h2 {
      font-weight: bold;
    }
  }
  footer {
    p {
      font-size: $fsize !important;
    }
  }
  .orangeBtn {
    font-size: $fsize + 5;
  }
}

.videoSection {
  .frame {
    height: 600px;

    @include mob {
      height: auto;
    }
  }
}
